/*
File: about.css
Author: Maurice Vossen
Date: November 2021
*/


#about-div {
    margin: 50px auto;
    width: 40%;
    text-decoration: none;
    color: var(--white);
    background-color: var(--black);
    overflow: hidden;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--yellow);
    box-sizing: border-box;
}


#about-heading {
    color: var(--pink);
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 400;
}


.about-p {
    color: var(--yellow);
    font-size: 20px;
}


/* media queries for about.html only */
/* for tablets and phones */

@media only screen and (max-width: 600px) { 

    #about-div {
        width: 100% !important;
        border-radius: 0;
        border: 0;
        margin: 0 !important;
    }

}


@media only screen and (max-width: 1400px) { 

    #about-div {
        width: 70%;
    }

}