/*
File: footer.css
Author: Maurice Vossen
Date: November 2021
*/


footer {
    text-align: center;
    overflow: hidden;
    color: rgb(238, 238, 238);
    height: 150px;
}


footer > hr {
    color: rgb(238, 238, 238);
}


#follow-socials {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}


footer i {
    font-size: 24px;
}


footer a {
    text-decoration: none;
    color: rgb(238, 238, 238);
}


footer a:hover {
    text-shadow: 0 0 10px rgb(255, 113, 151), 0 0 20px rgb(255, 113, 151), 0 0 30px rgb(255, 113, 151), 0 0 40px rgb(255, 113, 151), 0 0 50px rgb(255, 113, 151), 0 0 60px rgb(255, 113, 151), 0 0 70px rgb(255, 113, 151);
    transition: 1s;
}

footer > ul {
    margin-bottom: 20px;
}


footer > ul > li {
    display: inline-block;
    padding: 0 10px;
}


#copyright {
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
}