/*
File: footer.css
Author: Maurice Vossen
Date: November 2021
*/


footer {
    text-align: center;
    overflow: hidden;
    color: rgb(255, 113, 151);
    height: 150px;
}


#follow-socials {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}


footer i {
    font-size: 30px;
}


footer a {
    text-decoration: none;
    color: rgb(255, 113, 151);
}


footer a:hover {
    color: rgb(238, 238, 238);
}

footer > ul {
    margin-bottom: 20px;
}


footer > ul > li {
    display: inline-block;
    padding: 0 10px;
}


#copyright {
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
}