/*
File: footer.css
Author: Maurice Vossen
Date: November 2021
*/


footer {
    float: left;
    width: 100%;
    text-align: center;
    overflow: hidden;
    color: var(--yellow);
}


footer > hr {
    color: var(--yellow);
}


#follow-socials {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}


footer i {
    font-size: 24px;
}


footer a {
    text-decoration: none;
    color: var(--yellow);
}


footer a:hover {   
    text-shadow: 
    0 0 10px rgb(255, 0, 68),
    0 0 20px rgb(252, 64, 114),
    0 0 30px rgb(255, 106, 146),
    0 0 40px rgb(255, 124, 124);
}


footer > ul {
    margin-bottom: 20px;
}


footer > ul > li {
    display: inline-block;
    padding: 0 10px;
}


#copyright {
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
}