/*
File: forms.css
Author: Maurice Vossen
Date: November 2021
*/

#login-form-div, #register-form-div {
    margin: 0 auto;
    width: 40%;
    text-decoration: none;
    color: rgb(238, 238, 238);
    background-color: rgba(10, 10, 10, 0.95);
    overflow: hidden;
    padding: 30px;
    border-radius: 20px;
}


.form-label {
    padding-left: 4px;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
}

.mandatory-astrisk {
    color: red;
}


.form-textbox {
    margin-top: 4px;
    margin-bottom: 16px;
    font-size: 18px;
    padding: 4px 0 4px 8px;
    width: 100%;
    letter-spacing: 1px;
    border: 2px solid steelblue;
}


.form-button {
    font-size: 16px;
    letter-spacing: 1px;
    padding: 4px 8px;
    border-radius: 8px;
    border: 2px solid rgb(238, 238, 238);
    margin-top: 10px;
    background-color: steelblue;
    font-weight: 600;
    color: rgb(238, 238, 238);
}


.form-button:hover {
    background-color:rgb(21, 114, 190);
}