/*
File: forms.css
Author: Maurice Vossen
Date: November 2021
*/

.form-div {
    margin: 50px auto;
    width: 40%;
    text-decoration: none;
    color: var(--white);
    background-color: var(--black);
    overflow: hidden;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--yellow);
    box-sizing: border-box;
}


.form-heading {
    color: var(--pink);
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 400;
}


.form-p {
    color: var(--white);
    padding: 5px 3px;
    font-size: 18px;
}


.form-label {
    padding-left: 4px;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--yellow);
}


.form-textbox {
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 18px;
    padding: 4px 0 4px 8px;
    width: 100%;
    letter-spacing: 1px;
    border: 1px solid var(--yellow);
    box-sizing: border-box;
    background-color: var(--gray);
    color: var(--yellow);
    outline-color: var(--pink);
}


.form-info, .form-info a {
    padding-left: 4px;
    color: var(--pink);
}


.form-message {
    padding-left: 4px;
    color: skyblue;
    display: none;
}


.form-button {
    font-size: 16px;
    padding: 6px 12px;
    margin-top: 10px;
    background-color: var(--pink);
    color: black;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}


.form-button:hover {
    box-shadow: 
    0 0 5px rgb(255, 0, 68),
    0 0 10px rgb(252, 64, 114);
}


.form-link {
    color: var(--pink);
    text-decoration: none;
    padding: 5px 3px;
}


.form-link:hover {
    text-decoration: underline;
}


select option{
    background-color: rgb(0, 0, 0) !important;
}


.album-image-div {
    width: 40%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px 0;
    overflow: hidden;
}


.album-image-div img {
    width: 100%;
    border-radius: 20px;
    border: 2px solid var(--yellow);
    overflow: hidden;
    box-sizing: border-box;
}


#album_image {
    resize: none;
}


#delete-song-link {
    cursor: pointer;
    text-decoration: none;
}


#delete-song-link:hover {
    text-decoration: underline;
}


#confirm-delete-song {
    color: red;
}


#album_image_added {
    margin-bottom: 40px;
}

#album_image_added > img {
    width: 50%;
}


/* media queries for forms.html only */
/* for tablets and phones */

@media only screen and (max-width: 700px) { 

    .form-div {
        width: 100% !important;
        border-radius: 0;
        border: 0;
        margin: 0 !important;
    }

}


@media only screen and (max-width: 1000px) { 

    .form-div {
        width: 75%;
    }

}