/*
File: header.css
Author: Maurice Vossen
Date: November 2021
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
}


body {
    background: url('/static/img/hero-imageC.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode:color-dodge;
    background-color: rgba(0, 0, 0, 0.9);
}


header {
    overflow: hidden;
}


#logo-div {
    float: left;
    padding: 20px;
    box-sizing: border-box;
    width: 480px;
    cursor: pointer;
}


#logo-top-span {
    float: left;
    color: rgb(251, 213, 168);
    font-size: 54px;
    display: block;
    font-weight: 800;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-shadow: 0 0 10px rgb(150, 87, 10), 0 0 0px rgb(251, 213, 168), 0 0 0px rgb(251, 213, 168), 0 0 0px rgb(250, 168, 68), 0 0 0px rgb(248, 178, 93), 0 0 40px rgb(251, 213, 168), 0 0 50px rgb(251, 213, 168);
}


#logo-top-span > span {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}


#logo-bottom-span {
    float: left;
    color:rgb(238, 238, 238);
    font-size: 20px;
    letter-spacing: 4.8px;
    display: block;
    font-weight: 800;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


#logo-japanese-span {
    float: left;
    color: rgb(255, 113, 151);
    font-size: 26px;
    display: block;
    font-weight: 600;
    letter-spacing: 5px;
    position: relative;
    left: 5px;
    top: 8px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


#navigation-div {
    float: right;
    padding: 40px;
    box-sizing: border-box;
    width: calc(100% - 480px);
}


#navigation-div > ul > li {
    float: right;
    list-style-type: none;
    padding: 0 10px;
    font-size: 30px;
    
}


#navigation-div > ul > li > a {
    color: rgb(238, 238, 238);
    text-decoration: none;
}


#flash-messages {
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
    background-color: rgb(251, 213, 168);
    color:#995605;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}


#flash-message-close {
    background-color: #FBD5A8;
    box-sizing: border-box;
    width: 100px;
    overflow: hidden;
    float: right;
    color:#995605;
    text-decoration: none;
}


#register-button > a {
    font-size: 24px;
    padding: 5px 10px;
    margin: 0;
    border: 2px solid rgb(255, 113, 151);
    border-radius: 8px;
    background-color: transparent;
    color: rgb(255, 113, 151) !important;
    text-decoration: none;
}


#register-button > a:hover {
    text-shadow: 0 0 10px rgb(255, 113, 151), 0 0 20px rgb(255, 113, 151), 0 0 30px rgb(255, 113, 151), 0 0 40px rgb(255, 113, 151), 0 0 50px rgb(255, 113, 151), 0 0 60px rgb(255, 113, 151), 0 0 70px rgb(255, 113, 151);
    transition: 1s;
}

#login-button > a, #logout-button > a {
    font-size: 24px;
    padding: 5px 10px;
    margin: 0;
    border-radius: 8px;
    background-color: transparent;
    color:rgb(251, 213, 168) !important;
    text-decoration: none;
    border: 2px solid rgb(251, 213, 168);
}


#login-button > a:hover, #logout-button > a:hover {
    color:rgb(238, 238, 238) !important;
    border-color: rgb(238, 238, 238);
    text-shadow: 0 0 10px rgb(251, 213, 168), 0 0 20px rgb(251, 213, 168), 0 0 30px rgb(251, 213, 168), 0 0 40px rgb(251, 213, 168), 0 0 50px rgb(251, 213, 168), 0 0 60px rgb(251, 213, 168), 0 0 70px rgb(251, 213, 168);
    transition: 1s;
}


#toggle-button {
    display: none;
    float: right;
    height: 40px;
    width: 40px;
    border: 2px solid rgb(255, 113, 151);
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
}


#toggle-button > i {
    color: rgb(255, 113, 151);
}


#toggle-menu {
    display: none;
    color: white;
    text-align: center;
    float: left;
    clear: left;
    width: 100%;
}


#toggle-menu li {
    font-size: 20px;
    list-style-type: none;
    background-color: rgb(255, 113, 151);
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}


#toggele-menu > ul > li > a {
    text-decoration: none;
    color: rgb(238, 238, 238);
}


#toggle-menu-home > a {
    color: rgb(238, 238, 238);
}

.toggle-menu-li {
    color: rgb(238, 238, 238);
}


.menu-item {
    font-weight: 800;
    text-shadow: 1px 1px black;
}


.menu-item > a {
    font-size: 24px;
}


/* media queries for base.html only */

/* for tablets and phones */
@media only screen and (max-width: 1000px) { 

    #toggle-button {
        display: block;
    }

    #navigation-div > ul {
        display: none;
    }

    #toggle-menu {
        display: block;
    }

    .toggle-menu-item {
        font-size: 24px;
        font-weight: 800;
        text-decoration: none;
        color:rgb(238, 238, 238);
        display: block;
        background-color: rgba(0, 0, 0, 0.85);
        box-sizing: border-box;
        overflow: hidden;
        padding: 10px 0;
        margin: 2px;
    }


}