/*
File: header.css
Author: Maurice Vossen
Date: November 2021
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}


body {
    background: url('/static/img/hero-image.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: luminosity, hard-light;
    background-color: #000000;
}


header {
    overflow: hidden;
 
}


#logo-top-span {
    color:rgb(238, 238, 238);
    font-size: 54px;
    display: block;
    text-align: center;
    font-weight: 800;
    text-shadow: 2px 2px black;
}


#logo-bottom-span {
    color: rgb(238, 238, 238);
    font-size: 20px;
    display: block;
    text-align: center;
    font-weight: 800;
    text-shadow: 2px 2px black;
}


#logo-div {
    float: left;
    padding: 20px;
    box-sizing: border-box;
    width: 450px;
}


#navigation-div {
    float: left;
    padding: 20px;
    box-sizing: border-box;
    width: calc(100% - 450px);
}


#navigation-div > ul > li {
    float: right;
    list-style-type: none;
    padding: 0 10px;
    font-size: 30px;
    
}


#navigation-div > ul > li > a {
    color: rgb(238, 238, 238);
    text-decoration: none;
}


#flash-messages {
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
    background-color: limegreen;
    color:rgb(0, 80, 0);
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}


#flash-message-close {
    background-color: limegreen;
    box-sizing: border-box;
    width: 100px;
    overflow: hidden;
    float: right;
    color:rgb(0, 80, 0);
    text-decoration: none;
}


#register-button > a {
    padding: 5px 10px;
    margin: 0;
    border: 2px solid #D24946;
    border-radius: 8px;
    background-color: #D24946;
    color: rgb(238, 238, 238);
    text-decoration: none;
}


#login-button > a, #logout-button > a {
    padding: 5px 10px;
    margin: 0;
    border: 2px solid steelblue;
    border-radius: 8px;
    background-color: #FBD5A8;
    color:black;
    text-decoration: none;
}


#login-button > a:hover, #logout-button > a:hover {
    background-color: black;
    color: steelblue;
    transition: 1s;
}


#register-button > a:hover {
    background-color: black;
    color: #D24946;
    transition: 1s;
}


#toggle-button {
    display: none;
    float: right;
    height: 40px;
    width: 40px;
    border: 2px solid steelblue;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
}


#toggle-button > i {
    color: steelblue;
}


#toggle-menu {
    display: none;
    color: white;
    text-align: center;
    float: left;
    clear: left;
    width: 100%;
}


#toggle-menu li {
    list-style-type: none;
    background-color: steelblue;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}


#toggele-menu > ul > li > a {
    text-decoration: none;
    color: rgb(238, 238, 238);
}


#toggle-menu-home > a {
    color: rgb(238, 238, 238);
}

.toggle-menu-li {
    color: rgb(238, 238, 238);
}


.menu-item {
    font-weight: 800;
    text-shadow: 1px 1px black;
}


/* media queries for base.html only */

/* for tablets and phones */
@media only screen and (max-width: 1000px) { 

    #toggle-button {
        display: block;
    }

    #navigation-div > ul {
        display: none;
    }

    #toggle-menu {
        display: block;
    }

    .toggle-menu-item {
        text-decoration: none;
        color:rgb(238, 238, 238);
        display: block;
        background-color: steelblue;
        box-sizing: border-box;
        overflow: hidden;
        padding: 5px 0;
        margin: 2px;
    }


}