/*
File: random-songs.css
Author: Maurice Vossen
Date: November 2021
*/

#random-songs-h3 {
    color: var(--yellow);
    font-size: 22px;
    font-weight: 600;
    padding-left: 30px;
    margin: 0;
    margin-bottom: 10px;
}


#random-songs-div {
    display: table;
    margin: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
}


.random-song {
    display: inline-block;
    width: calc(25% - 10px);
    box-sizing: border-box;
    padding: 10px;
}


.random-song img {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.5);
}


/* media queries for random_songs.html only */
/* for tablets and phones */

@media only screen and (max-width: 700px) {

    .random-song {
        float: none;
        width: 80%;
        margin-bottom: 20px;
    }


    .random-song img {
        width: 80%;
    }

}