/*
File: userinfo.css
Author: Maurice Vossen
Date: November 2021
*/

#userinfo {
    width: 100%;
}


.userinfo-descr {
    float: left;
    box-sizing: border-box;
    width: 120px;
    padding: 5px 0;
}


.userinfo-value {
    float: left;
    box-sizing: border-box;
    width: calc(100% - 120px);
    padding: 5px 0;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}