/*
File: users.css
Author: Maurice Vossen
Date: November 2021
*/


.users-div { 
    box-sizing: border-box;
    font-size: 18px;
    overflow: hidden;
    background-color: var(--black);
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid var(--yellow);
    border-radius: 20px;
}


.user-item {
    width: 100%;
    color: var(--white);
    cursor: pointer;
    box-sizing: border-box;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px 0;
}


.delete-user, .confirm-delete-user {
    padding: 0 5px;
}


.confirm-delete-user {
    color: red !important;
}


/* media queries for users.html only */
/* for tablets and phones */

@media only screen and (max-width: 600px) { 

    .users-div {
        width: 100% !important;
        border-radius: 0;
        border: 0;
        margin: 0 !important;
    }

}


@media only screen and (max-width: 1400px) { 

    .my-songs-div {
        width: 70%;
    }

}