/*
File: youtube.css
Author: Maurice Vossen
Date: November 2021
*/


.youtube-div {
    padding-top: 30px;
    box-sizing: border-box;
    overflow: hidden;
    width: 50%;
    margin: 30px auto;
    box-sizing: border-box;
}


#tv-screen-div {
    background-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    padding: 30px;
    overflow: hidden;
    border-radius: 30px;
    border: 2px solid var(--yellow);
}

#youtube-iframe {
    width: 100%;
    border-color: var(--yellow);
    box-sizing: border-box;
    background-color: var(--black);
    height: 100%;
    aspect-ratio: 16/9;
    border: 1px solid rgb(37, 37, 37);
}


#tv-text {
    font-size: 28px;
    color: var(--pink);
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 20px;
    animation: lightanimation 2s infinite alternate;
}


@keyframes lightanimation {

    0% {
        text-shadow: none;
    }

    100% {
        text-shadow: 
        0 0 5px rgb(235, 4, 65),
        0 0 10px rgb(247, 0, 66),
        0 0 15px rgb(255, 63, 114),
        0 0 20px rgb(255, 109, 109);
        color: rgb(255, 226, 226);
    }

  }



/* media queries for youtube.html only */
/* for tablets and phones */

@media only screen and (max-width: 700px) {

    #content-div {
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
    }


    .youtube-div {
        width: 100%;
    }

    
    #tv-screen-div {
        border: 0;
        border-radius: 0;
        height: calc((100% * 3) / 4);
        background-color: rgba(0, 0, 0, 0);
    }

}