/*
File: youtube.css
Author: Maurice Vossen
Date: November 2021
*/


#content-div {
    width: 100%;
}


.youtube-div {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    width: 50%;
    padding-top: 80%;
    margin: 30px auto;
    box-sizing: border-box;
}


#youtube-iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    border-color: var(--yellow);
    box-sizing: border-box;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    height: calc((50% * 3) / 4);
}


/* media queries for youtube.html only */
/* for tablets and phones */

@media only screen and (max-width: 700px) {

    .youtube-div {
        width: 100%;
    }

    #youtube-iframe {
        border: 0;
        border-radius: 0;
        height: calc((100% * 3) / 4);
    }


}
