<!--
File: about.html
Author: Maurice Vossen
Date: November 2021
-->


{% extends "base.html" %}
{% block content %}
    
    <!-- frame -->
    <div id="about-div">

        <!-- heading -->
        <h1 id="about-heading">About the Citypop Central website</h1>

        <!-- paragraph -->
        <p class="about-p">The Citypop Central website contains information about Japanese songs and a link to the song's YouTube page. In our database, you find songs that are a mix of Jazz, Soul, Funk, Disco, or Synth-Pop from the '70s and '80s. Combined with Japanese lyrics is this genre better known under the name 'Citypop.'</p>

        <!-- paragraph -->
        <p class="about-p">Back in the '70s and '80s, Japan had a strong economy that eventually would collapse. This era is better known as the 'Bubble economy.' Everybody had a good income, poverty almost did not exist, and a lot of money was made and spent during those years. Life was good, especially in the nightlife districts of Tokyo and other big Japanese cities. It was during those years that 'Citypop' became very popular in Japan.</p>

        <!-- paragraph -->
        <p class="about-p">The lyrics in a typical 'Citypop' song translated the spirit of the Japanese people at that time. The songs are about a bright future, optimism, and a glamorous lifestyle. All this ended around 1991 when the Tokyo stock exchange, the 'Nikkei' had plummeted to half. The glamorous lifestyle of the '80s was over. Many Japanese people lost their job, many lost money in a housing crisis, and most did not know what the future would bring. Together with this economic tragedy, the 'Citypop' genre disappeared from the mainstream, making space for new types of music genres.</p>

        <!-- paragraph -->
        <p class="about-p">'Citypop' was never popular in the Western world in the '70s and '80s. But thanks to Youtube, people from the West are discovering this music genre. The purpose of this website is to target those people who want to know more about the 'Citypop' genre and who want to listen to typical 'Citypop' songs.</p>

        <!-- embedded YouTube video -->
        <iframe class="youtube-iframe" src="https://www.youtube.com/embed/ouXHiSSYwZY" aria-label="Click here to watch a video about the history of citypop"></iframe><br>
        <p class="video-description">A Brief History of Citypop</p>

        <!-- embedded YouTube video -->
        <iframe class="youtube-iframe" src="https://www.youtube.com/embed/QZsRsccMDm8" aria-label="Click here to watch a video about tourists buying citypop LPs in Tokyo"></iframe><br>
        <p class="video-description">Western Tourists Buying Old Citypop LPs in Shibuya - Tokyo</p>

        <!-- footer -->
        <footer>

            <!-- socials -->
            <span id="follow-socials">follow us on social media</span>
            
            <ul>
                <li><a href="https://www.twitter.com/" target="_blank" title="Go to our twitter page" aria-label="Go to our twitter page by clicking this link (opens in new tab)"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.pinterest.com/" target="_blank" title="Go to our pinterest page" aria-label="Go to our pinterest page by clicking this link (opens in new tab)"><i class="fab fa-pinterest"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank" title="Go to our facebook page" aria-label="Go to our facebook page by clicking this link (opens in new tab)"><i class="fab fa-facebook"></i></a></li>
            </ul>
    
            <!-- copyright -->
            <span id="copyright">© CityPop Central 2021</span>
    
        </footer>

    </div>


{% endblock %}