{% extends "base.html" %}
{% block content %}

<style>

    #add-song-div {
        margin: 0 auto;
        width: 40%;
        text-decoration: none;
        color: rgb(238, 238, 238);
        background-color: rgba(10, 10, 10, 0.95);
        overflow: hidden;
        padding: 30px;
        border-radius: 20px;
        border: 2px solid rgb(238, 238, 238);
    }



</style>


    <div id="add-song-div">

        <h3>Add a new song to the database</h3><br>

        <form action="{{ url_for('add_song') }}" method="POST">

            <label for="artist_name" class="form-label">Artist Name:<span class="mandatory-astrisk"> *</span></label><br>
            <input type="text" id="artist_name" name="artist_name" class="form-textbox" aria-label="please enter the artist name, this a required field" required><br>

            <label for="song_name" class="form-label">Song Name:<span class="mandatory-astrisk"> *</span></label><br>
            <input type="text" id="song_name" name="song_name" class="form-textbox" aria-label="please enter a song name, this a required field" required><br>


            <label for="genre" class="setting-label">Genre : <span class="mandatory-astrisk"> *</span></label><br>
            <select id="genre" name="genre" class="form-textbox" aria-label="please enter the sonng's genre, this is a dropdown menu, check the selected value">

                {% for genre in genres %}

                    <option value="{{ genre.genre }}">{{ genre.genre }}</option>

                {% endfor %}

        </select><br>

            <label for="album_name" class="form-label">Album Name:<span class="mandatory-astrisk"> *</span></label><br>
            <input type="text" id="album_name" name="album_name" class="form-textbox" aria-label="please the album name, this a required field" required><br>

            <label for="album_image" class="form-label">Album Image:<span class="mandatory-astrisk"> *</span></label><br>
            <input type="text" id="album_image" name="album_image" class="form-textbox" aria-label="please the enter the album image, this a required field" required><br>

            <label for="release_year" class="form-label">Release Year: <span class="mandatory-astrisk"> *</span></label><br>
            <select id="release_year" name="release_year" class="form-textbox" aria-label="">
    
                {% for release_year in release_years %}
    
                        <option value="{{ release_year.release_year }}">{{ release_year.release_year }}</option>

    
                {% endfor %}
    
            </select><br>

            <label for="song_length" class="form-label">Song Length:<span class="mandatory-astrisk"> *</span></label><br>
            <input type="text" id="song_length" name="song_length" class="form-textbox" aria-label="please the song's release year, this a required field" required><br>

            <label for="youtube" class="form-label">YouTube Link:<span class="mandatory-astrisk"> *</span></label><br>
            <input type="text" id="youtube" name="youtube" class="form-textbox" aria-label="please enter the link to the song on Youtube, this a required field" required><br>

            <input type="submit" value="upload" class="form-button" aria-label="Click this button to submit the song, make sure you have added all required fields above"><br><br>


        </form>


    </div>

{% endblock %}