<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}


    <title>{{ title }}</title>

</head>


<body>

    <!-- header -->
    <header id="test1">
            test
        <!-- navigation bar -->
        <nav>   
                
        </nav>

    </header>

            <!-- add the main content here -->
            {% block content %}
            {% endblock %}

    <!-- footer -->
    <footer>

        Footer Here

    </footer>

</body>


</html>