<!--
File: edit_song.html
Author: Maurice Vossen
Date: November 2021
-->


{% extends "base.html" %}
{% block content %}


<div class="form-div">

    <h3 class="form-h3">Edit an existing song in the database {{uploaded_by}}</h3>

    <form action="" method="POST">

        <label for="artist_name" class="form-label">Artist Name:</label><br>
        <input type="text" id="artist_name" name="artist_name" value="{{ song.artist_name }}" class="form-textbox" aria-label="please enter the artist name, this a required field" required><br>

        <label for="song_name" class="form-label">Song Name:</label><br>
        <input type="text" id="song_name" name="song_name" value="{{ song.song_name }}" class="form-textbox" aria-label="please enter a song name, this a required field" required><br>

        <label for="genre" class="form-label">Genre: </label><br>
        <select id="genre" name="genre" class="form-textbox" aria-label="">

            {% for genre in genres %}

                {% if genre.genre == song.genre %}
                    <option value="{{ genre.genre }}" selected>{{ genre.genre }}</option>
                {% else %}
                    <option value="{{ genre.genre }}">{{ genre.genre }}</option>
                {% endif %}

            {% endfor %}

        </select><br>


        <label for="release_year" class="form-label">Release Year: </label><br>
        <select id="release_year" name="release_year" class="form-textbox" aria-label="">

            {% for release_year in release_years %}

                {% if release_year.release_year == song.release_year %}
                    <option value="{{ release_year.release_year }}" selected>{{ release_year.release_year }}</option>
                {% else %}
                    <option value="{{ release_year.release_year }}">{{ release_year.release_year }}</option>
                {% endif %}

            {% endfor %}

        </select><br>

        <label for="album_name" class="form-label">Album Name:</label><br>
        <input type="text" id="album_name" name="album_name" value="{{ song.album_name }}" class="form-textbox" aria-label="" required><br>

        <label for="album_image" class="form-label">Album Image:</label><br>
        <input type="text" id="album_image" name="album_image" value="{{ song.album_image }}" class="form-textbox" aria-label="" required><br>

        <label for="song_length" class="form-label">Song Length:</label><br>
        <input type="text" id="song_length" name="song_length" value="{{ song.song_length }}" class="form-textbox" aria-label="" required><br>

        <input type="submit" value="edit song" class="form-button" aria-label="Click this button to submit the song, make sure you have added all required fields above"><br><br>

    </form>


</div>




{% endblock %}