{% extends "base.html" %}
{% block content %}

<style>

    #edit-song-div {
        margin: 0 auto;
    width: 40%;
    text-decoration: none;
    color: rgb(238, 238, 238);
    background-color: rgba(10, 10, 10, 0.95);
    overflow: hidden;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid rgb(238, 238, 238);
    }

</style>


<div id="edit-song-div">

    <h3>Edit an Existing Song in the Database</h3><br>

    <form action="" method="POST">

        <label for="artist_name" class="form-label">Artist Name:<span class="mandatory-astrisk"> *</span></label><br>
        <input type="text" id="artist_name" name="artist_name" value="{{ song.artist_name }}" class="form-textbox" aria-label="please enter the artist name, this a required field" required><br>

        <label for="song_name" class="form-label">Song Name:<span class="mandatory-astrisk"> *</span></label><br>
        <input type="text" id="song_name" name="song_name" value="{{ song.song_name }}" class="form-textbox" aria-label="please enter a song name, this a required field" required><br>

        <label for="genre" class="setting-label">Genre: <span class="mandatory-astrisk"> *</span></label><br>
        <select id="genre" name="genre" class="form-textbox" aria-label="">

            {% for genre in genres %}

                {% if genre.genre == song.genre %}
                    <option value="{{ genre.genre }}" selected>{{ genre.genre }}</option>
                {% else %}
                    <option value="{{ genre.genre }}">{{ genre.genre }}</option>
                {% endif %}

            {% endfor %}

        </select><br>


        <label for="release_year" class="setting-label">Release Year: <span class="mandatory-astrisk"> *</span></label><br>
        <select id="release_year" name="release_year" class="form-textbox" aria-label="">

            {% for release_year in release_years %}

                {% if release_year.release_year == song.release_year %}
                    <option value="{{ release_year.release_year }}" selected>{{ release_year.release_year }}</option>
                {% else %}
                    <option value="{{ release_year.release_year }}">{{ release_year.release_year }}</option>
                {% endif %}

            {% endfor %}

        </select><br>

        <label for="album_name" class="form-label">Album Name:<span class="mandatory-astrisk"> *</span></label><br>
        <input type="text" id="album_name" name="album_name" value="{{ song.album_name }}" class="form-textbox" aria-label="" required><br>


        <input type="submit" value="edit song" class="form-button" aria-label="Click this button to submit the song, make sure you have added all required fields above"><br><br>

    </form>


</div>

{% endblock %}