{% extends "base.html" %}
{% block content %}
  
<style>

    .song-div {
        width: 50%;
        background-color:rgba(10, 10, 10, 0.95);
        margin: 20px auto;
        box-sizing: border-box;
        padding: 15px;
        overflow: hidden;
        border-radius: 10px;
        border: 2px solid rgb(238, 238, 238);
    }

    .song-album-div {
        background-color: lightgray;
        margin: 5px;
        box-sizing: border-box;
        padding: 10px;
        width: 150px;

        float: left;
        text-align: center;
        border-radius: 10px;
        border: 1px solid black;
        overflow: hidden;
    }

    .song-information-div {
        background-color: lightgray;
        margin: 5px;
        box-sizing: border-box;
        padding: 10px;
        float: left;
        width: calc(100% - 170px);
        border: 1px solid black;
        border-radius: 10px;
    }

    .information-field-descr {
        width: 120px;
        box-sizing: border-box;
        margin: 2px;
        padding: 3px;
        float: left;
        font-size: 16px;
        color: black;
    }

    .information-field-text {
        width: 200px;
        box-sizing: border-box;
        margin: 2px;
        padding: 3px;
        float: left;
        width: calc(100% - 130px);
        font-size: 16px;
        color: steelblue;
    }


    .edit-delete-field {
        float: left;
        width: 100%;
        padding: 5px 10px;

        box-sizing: border-box;
    }

    .edit-delete-field > a {
        font-size: 16px;
        text-decoration: none;
    }

    #edit-link {
        color: steelblue;
        cursor: pointer;
    }

    .delete-link {
        color: steelblue;
        font-weight: 600;
    }


    .song-album-div > a > img {
        border: 1px solid black;
    }

    .delete-song-check {
        cursor: pointer;
        color: steelblue;
    }


    #search-bar {
        box-sizing: border-box;
        padding: 30px;
        color: black;
        background-color: lightgray;
        width: 50%;
        margin: 0 auto;
    }


    #search-query {
        width: 50%;
        border-radius: 25px;
    }


    .song-field {
        float: left;
        box-sizing: border-box;
        padding: 5px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 50px);
        background-color: steelblue;
        color:rgb(238, 238, 238)
    }

    .song-toggle-button {
        float: left;
        box-sizing: border-box;
        padding: 5px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50px;
        background-color: black;
        text-align: center;
        color: rgb(238, 238, 238);
        cursor: pointer;

    }

    .song-toggle-button i {
        font-size: 20px;
        text-decoration: none;
    }


</style>


<div id="search-bar">

    <form action="{{ url_for('search') }}" method="POST">

        <label for="search-query" class="form-label">Search Songs</span></label><br>
        <input type="text" id="search-query" name="search-query" class="form-textbox" placeholder="" aria-label="" required>

        <input type="submit" value="search" class="form-button" aria-label="Click this button to generate a search query, make sure you have added all required fields above"><br><br>

    </form>


</div>



{% for song in songs %}

<div class="song-div">
    
    <div class="song-album-div">

        <a href="https://img.discogs.com/xuWtHNPFMGqKf1x3GMRPHk_xb8o=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-1553522-1588781998-7158.jpeg.jpg">
            <img style="width: 120px; vertical-align: bottom;" src="https://img.discogs.com/xuWtHNPFMGqKf1x3GMRPHk_xb8o=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-1553522-1588781998-7158.jpeg.jpg" alt="Song album" title="click here to listen on YouTube">
        </a>

    </div>



    <div class="song-information-div">

        <div class="song-field">
        
            {{ song.artist_name }} - {{ song.song_name }}
            
        </div>

        <div class="song-toggle-button">
            <i class="fas fa-question-circle" title="more information about this record"></i>
        </div>



        {% if session.user == song.uploaded_by %}

            <div class="edit-delete-field">

                <a id="edit-link" href="{{ url_for('edit_song', song_id=song._id) }}" title="edit song"><i class="fas fa-edit"></i></a>
                <i class="delete-song-check fas fa-trash-alt" title="delete song"></i>
                <a class="delete-link" href="{{ url_for('delete_song', song_id=song._id) }}">DELETE</a>
                
            </div>

        {% endif %}


        <div class="information-field-descr">Artist Name: </div>
        <div class="information-field-text">{{ song.artist_name }}</div>

        <div class="information-field-descr">Song Name: </div>
        <div class="information-field-text">{{ song.song_name }} </div>

        <div class="toggle-part">

        <div class="information-field-descr">YouTube</div>
        <div class="information-field-text">{{ song.uploaded_by }} </div>

        <div class="information-field-descr">Upload By: </div>
        <div class="information-field-text">{{ song.uploaded_by }} </div>


        </div>

    </div>

    

</div>

{% endfor %}




{% endblock %}