<!--
File: index.html
Author: Maurice Vossen
Date: November 2021
-->



{% extends "base.html" %}
{% block content %}
  
<style>

    .edit-link {
        color:rgb(238, 238, 238);
        cursor: pointer;
        font-weight: 200;
    }


    .delete-link {
        color: red;
        font-weight: 600;
    }


    .delete-song-check {
        cursor: pointer;
        color:rgb(238, 238, 238);
        font-weight: 300;
    }


    .delete-song-confirmed {
        cursor: pointer;
        color:red;
        font-weight: 300;
    }


    #search-bar {
        box-sizing: border-box;
        padding: 30px;
        color: rgb(238, 238, 238);
        background-color: rgba(10, 10, 10, 0.95);
        width: 50%;
        margin: 0 auto;
        border: 2px solid rgb(238, 238, 238);
        border-radius: 20px;
    }


    #search-query {
        width: 80%;
        box-sizing: border-box;
        padding: 5px 10px;
    }


    .song-record-div {
        background-color: rgba(10, 10, 10, 0.95);
        margin: 20px auto;
        border: 2px solid rgb(238, 238, 238);
        border-radius: 20px;
        width: 50%;
        box-sizing: border-box;
        overflow: hidden;
        padding: 20px;
    }


    .artist-song-div {
        float: left;
        background-color: steelblue;
        color:rgb(238, 238, 238);
        box-sizing: border-box;
        overflow: hidden;
        padding: 10px 20px;
        clear: right;
        width: calc(100% - 50px);
        margin-bottom: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    .expand-info {
        float: left;
        background-color: rgb(1, 101, 184);
        padding: 10px;
        width: 50px;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
        color:rgb(238, 238, 238);
        cursor: pointer;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }


    .album-div {
        float: left;
        box-sizing: border-box;
        overflow: hidden;
        padding: 10px 0;
        width: 140px;
    }


    .album-div img {
        border: 2px solid black;
        cursor: pointer;
        border-radius: 10px;
        box-sizing: border-box;
    }


    .song-info-visible, .song-info-toggle {
        float: right;
        color:rgb(238, 238, 238);
        box-sizing: border-box;
        overflow: hidden;
        padding: 0;
        width: calc(100% - 140px);
    }


    .song-info-visible {
        margin-top: 10px;
    }


    .song-info-desc {
        float: left;
        width: 160px;
        font-size: 18px;
        box-sizing: border-box;
        color: rgb(238, 238, 238);
        font-weight: 600;
        padding: 3px 0;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    .song-info-value {
        float: left;
        width: calc(100% - 160px);
        font-size: 18px;
        box-sizing: border-box;
        color: rgb(238, 238, 238);
        padding: 3px 0;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    .song-info-value a {
        text-decoration: none;
        color: red;
        font-size: 18px;
    }


    #youtube-icon {
        color:rgb(238, 238, 238);
    }


    #youtube-icon:hover {
        color:rgb(255, 0, 0);
        transition: 1s;
    }



</style>


<div id="search-bar">

    <form action="{{ url_for('search') }}" method="POST">

        <label for="search-query" class="form-label">Search Songs</span></label><br>
        <input type="text" id="search-query" name="search-query" class="form-textbox" placeholder="" aria-label="" required>

        <input type="submit" value="search" class="form-button" aria-label="Click this button to generate a search query, make sure you have added all required fields above"><br><br>

    </form>

    <div style="background-color: red;"><a href="/database?limit=10&offset=10">link</a></div>

</div>



{% for song in songs %}


<div class="song-record-div">

    <div class="artist-song-div">
        
        {% if session.user == song.uploaded_by %}
            
            <a  href="{{ url_for('edit_song', song_id=song._id) }}" title="edit song"><i class="edit-link fas fa-edit"></i></a>
            <i class="delete-song-check fas fa-trash-alt" title="delete song"></i>
            <a class="delete-link" href="{{ url_for('delete_song', song_id=song._id) }}"><i class="delete-song-confirmed fas fa-trash-alt" title="delete song"></i></a> | 

        {% endif %}

        <a id="youtube-icon" href="{{ song.youtube }}" target="_blank" title="Watch on YouTube"><i class="fab fa-youtube"></i></a> {{ song.artist_name }} - {{ song.song_name }}</div>

    <div class="expand-info" title="More information about this song"><i class="fas fa-question-circle"></i></div>

    <div class="album-div">

        <a href="{{ song.album_image }}" target="_blank">

            <img style="width: 120px; vertical-align: bottom;" src="{{ song.album_image }}" alt="Song's Album" title="Click here to see the album image">

        </a>

    </div>

    <div class="song-info-visible">

        <div class="song-info-desc">Artist Name :</div>
        <div class="song-info-value">{{ song.artist_name }}</div>

        <div class="song-info-desc">Song Name :</div>
        <div class="song-info-value">{{ song.song_name }}</div>

        <div class="song-info-desc">Genre :</div>
        <div class="song-info-value">{{ song.genre }}</div>

        <div class="song-info-desc">Release Year :</div>
        <div class="song-info-value">{{ song.release_year }}</div>


    </div>

       <div class="song-info-toggle">

        <div class="song-info-desc">Album Name :</div>
        <div class="song-info-value">{{ song.album_name }}</div>

        <div class="song-info-desc">Song Length :</div>
        <div class="song-info-value">{{ song.song_length }}</div>

        

        <div class="song-info-desc">Uploaded By :</div>
        <div class="song-info-value">{{ song.uploaded_by }}</div>

        <div class="song-info-desc">Upload Date :</div>
        <div class="song-info-value">{{ song.upload_date }}</div>

        {% if song.edit_date %}

            <div class="song-info-desc">Edit Date :</div>
            <div class="song-info-value">{{ song.edit_date }}</div>

        {% endif %}

       </div>

  </div>


{% endfor %}




{% endblock %}