{% extends "base.html" %}
{% block content %}
  
<style>

    .song-div {
        width: 50%;
        background-color:rgba(10, 10, 10, 0.9);
        margin: 20px auto;
        box-sizing: border-box;
        padding: 15px;
        overflow: hidden;
        border-radius: 10px;
        border: 2px solid rgb(238, 238, 238);
    }

    .song-album-div {
        background-color: rgba(10, 10, 10, 0.9);
        margin: 5px;
        box-sizing: border-box;
        padding: 10px;
        width: 150px;

        float: left;
        text-align: center;
        border-radius: 10px;
        border: 1px solid black;
        overflow: hidden;
    }

    .song-information-div {
        background-color: lightgray;
 
        box-sizing: border-box;
        padding: 10px;
        float: left;
        width: 100%;
        border: 1px solid black;
        border-radius: 10px;
    }


    .song-album-field {
        float: left;
        width: 140px;
        box-sizing: border-box;
        padding: 10px 0;
    }

    .song-album-field img{
        border: 1px solid rgb(238, 238, 238);
    }


    .information-field-descr {
        float: left;
        width: 120px;
        box-sizing: border-box;

        padding: 3px;
        float: left;
        font-size: 16px;
        color: black;
        background-color: red;
        clear: left;
    }

    .information-field-text {
        float: left;
        box-sizing: border-box;
        padding: 3px;
        background-color: yellow;
        width: calc(100% - 200px);
        font-size: 16px;
        color: steelblue;
        
    }

 


    .edit-delete-field {
        float: left;
        width: calc(100% - 150px);
        margin-top: 20px;
        padding: 5px 10px;

        box-sizing: border-box;
    }

    .edit-delete-field > a {
        font-size: 16px;
        text-decoration: none;
    }

    .edit-link {
        color:rgb(238, 238, 238);
        cursor: pointer;
        font-weight: 200;
    }

    .delete-link {
        color: red;
        font-weight: 600;
    }


    .song-album-div > a > img {
        border: 1px solid rgb(238, 238, 238);
    }

    .delete-song-check {
        cursor: pointer;
        color:rgb(238, 238, 238);
        font-weight: 300;
    }


    .delete-song-confirmed {
        cursor: pointer;
        color:red;
        font-weight: 300;
    }


    #search-bar {
        box-sizing: border-box;
        padding: 30px;
        color: black;
        background-color: lightgray;
        width: 50%;
        margin: 0 auto;
    }


    #search-query {
        width: 50%;
        border-radius: 25px;
    }


    .song-field {
        float: left;
        box-sizing: border-box;
        padding: 5px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 50px);
        background-color: steelblue;
        color:rgb(238, 238, 238);
        margin-bottom: 10px;
    }



    .song-toggle-button {
        float: left;
        box-sizing: border-box;
        padding: 5px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50px;
        background-color: black;
        text-align: center;
        color: rgb(238, 238, 238);
        cursor: pointer;

    }

    .song-toggle-button i {
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;
    }









.song-record-div {
    background-color: rgba(10, 10, 10, 0.95);
    margin: 20px auto;
    border: 2px solid rgb(238, 238, 238);
    border-radius: 20px;
    width: 50%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px;
  }


.artist-song-div {
  float: left;
  background-color: steelblue;
  color:rgb(238, 238, 238);
  box-sizing: border-box;
    overflow: hidden;
    padding: 10px 20px;
    clear: right;
    width: calc(100% - 50px);
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.expand-info {
  float: left;
  background-color: rgb(1, 101, 184);
  padding: 10px;
  width: 50px;
      box-sizing: border-box;
    overflow: hidden;
text-align: center;
color:rgb(238, 238, 238);
cursor: pointer;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;

}



.album-div {
  float: left;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px 0;
    width: 140px;
}


.album-div img {
    border: 1px solid rgb(238, 238, 238);
    cursor: pointer;
    border-radius: 10px;
}


.song-info-visible, .song-info-toggle {
  float: right;
    color:rgb(238, 238, 238);
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    width: calc(100% - 140px);
    
}







.song-info-desc {
    float: left;
    width: 160px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
    color: rgb(238, 238, 238);
    font-weight: 600;
}


.song-info-value {
    float: left;
    width: calc(100% - 160px);
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
    min-height: 10px;
    color: rgb(238, 238, 238);
}


.song-info-value a {
    text-decoration: none;
    color: rgb(238, 238, 238);
    font-size: 18px;
}

</style>


<div id="search-bar">

    <form action="{{ url_for('search') }}" method="POST">

        <label for="search-query" class="form-label">Search Songs</span></label><br>
        <input type="text" id="search-query" name="search-query" class="form-textbox" placeholder="" aria-label="" required>

        <input type="submit" value="search" class="form-button" aria-label="Click this button to generate a search query, make sure you have added all required fields above"><br><br>

    </form>


</div>



{% for song in songs %}


<div class="song-record-div">

    <div class="artist-song-div">
        
        {% if session.user == song.uploaded_by %}
            
            <a  href="{{ url_for('edit_song', song_id=song._id) }}" title="edit song"><i class="edit-link fas fa-edit"></i></a>
            <i class="delete-song-check fas fa-trash-alt" title="delete song"></i>
            <a class="delete-link" href="{{ url_for('delete_song', song_id=song._id) }}"><i class="delete-song-confirmed fas fa-trash-alt" title="delete song"></i></a> | 


        {% endif %}

        {{ song.artist_name }} - {{ song.song_name }}</div>
    <div class="expand-info" title="more information about this record"><i class="fas fa-question-circle"></i></div>

    <div class="album-div">

        <a href="{{ song.youtube }}" target="_blank">

            <img style="width: 120px; vertical-align: bottom;" src="https://img.discogs.com/xuWtHNPFMGqKf1x3GMRPHk_xb8o=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-1553522-1588781998-7158.jpeg.jpg" alt="Song album" title="click here to listen on YouTube">

        </a>

    </div>

    <div class="song-info-visible">

        <div class="song-info-desc">Artist Name :</div>
        <div class="song-info-value">{{ song.artist_name }}</div>

        <div class="song-info-desc">Song Name :</div>
        <div class="song-info-value">{{ song.song_name }}</div>


        <div class="song-info-desc">Uploaded By :</div>
        <div class="song-info-value">{{ song.uploaded_by }}</div>


    </div>

       <div class="song-info-toggle">

        <div class="song-info-desc">Youtube:</div>
        <div class="song-info-value"><a href="{{ song.youtube }}">{{ song.youtube }}</a></div>

       </div>

  </div>




<!--


<div class="song-div">
    




    <div class="song-information-div">





        <div class="song-field">
        
            {% if session.user == song.uploaded_by %}

            <a  href="{{ url_for('edit_song', song_id=song._id) }}" title="edit song"><i class="edit-link fas fa-edit"></i></a>
            <i class="delete-song-check fas fa-trash-alt" title="delete song"></i>
            <a class="delete-link" href="{{ url_for('delete_song', song_id=song._id) }}">DELETE</a>
            

            {% endif %}


            {{ song.artist_name }} - {{ song.song_name }}
            
        </div>

        <div class="song-toggle-button">
            <i class="fas fa-question-circle" title="more information about this record"></i>
        </div>


        <div class="song-album-field" style="float: left;">

            <a href="{{ song.youtube }}" target="_blank">
                <img style="width: 120px; vertical-align: bottom;" src="https://img.discogs.com/xuWtHNPFMGqKf1x3GMRPHk_xb8o=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-1553522-1588781998-7158.jpeg.jpg" alt="Song album" title="click here to listen on YouTube">
            </a>


        </div>


        <div class="song-album-information" style="float: left; box-sizing: border-box; width: 100%;">



        <div class="information-field-descr">Artist Name: </div>
        <div class="information-field-text">{{ song.artist_name }}</div>

        <div class="information-field-descr">Song Name: </div>
        <div class="information-field-text">{{ song.song_name }} </div>

        <div class="information-field-descr">YouTube:</div>
        <div class="information-field-text">{{ song.youtube }}</div>

        <div class="information-field-descr">Upload By: </div>
        <div class="information-field-text">{{ song.uploaded_by }}</div>

    </div>


    </div>

    

</div>

-->

{% endfor %}




{% endblock %}