<!--
File: login.html
Author: Maurice Vossen
Date: November 2021
-->


{% extends "base.html" %}
{% block content %}


<div class="form-div">

    <h3 class="form-h3">Login to your Citypop Central account</h3>

    <form method="POST" action="{{ url_for('login') }}">

        <label for="username" class="form-label">Username :</label><br>
        <input type="text" id="username" name="username" class="form-textbox" aria-label="" required><br>

        <label for="password" class="form-label">Password :</label><br>
        <input type="password" id="password" name="password" class="form-textbox" aria-label="" required><br>

        <input type="submit" value="login" class="form-button" aria-label=""><br><br>

    </form>

    <p id="form-p">New to Citypop Central? Create a new account <a class="form-link" href="{{ url_for('register') }}">Here</a></p>

</div>   

{% endblock %}





