<!--
File: profile.html
Author: Maurice Vossen
Date: November 2021
-->


{% extends "base.html" %}
{% block content %}

<div class="form-div">

    <h3 class="form-h3">Profile settings</h3>

    <form action="{{ url_for('update_profile', username=session.user) }}" method="POST">

        <span id="form-username">Username : {{ username }}</span><br><br>
    
        <label class="form-label" for="email">Email :</label>
        <input type="email" id="email" name="email" value="{{ settings.email }}" class="form-textbox" aria-label="" required><br>

        <label for="country" class="form-label">Country :</label><br>
        <select id="country" name="country" class="form-textbox" aria-label="">

            {% for country in countries %}

                {% if country.country_name == settings.country_name | capitalize  %}
                    <option value="{{ country.country_name }}" selected>{{ country.country_name }}</option>
                {% else %}
                    <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                {% endif %}

            {% endfor %}

        </select><br>


        <label for="gender" class="form-label">Gender :</label><br>
        <select id="gender" name="gender" class="form-textbox" aria-label="">

            {% for gender in genders %}
            
                <div>{{ gender }}</div>

                {% if gender.gender == settings.gender %}
                    <option value="{{ gender.gender }}" selected>{{ gender.gender }}</option>
                {% else %}
                    <option value="{{ gender.gender }}">{{ gender.gender }}</option>
                {% endif%}
                
            {% endfor %}

        </select><br>

        <input type="submit" value="update" class="form-button" aria-label=""><br><br>

    </form>


        <h3 class="form-h3">Delete profile</h3>

        <span id="delete-profile-button" title="Click on this link to delete your profile" arian-label="">Click here to delete your profile</span><br><br>

        <a id="confirm-delete-profile-button" href="/delete-profile" title="Click on the link to confirm to delete your profile" arian-label="">Confirm to delete your profile</a><br><br>


 

</div>
    
{% endblock %}