<!--
File: register.html
Author: Maurice Vossen
Date: November 2021
-->


{% extends "base.html" %}
{% block content %}

<div class="form-div">

    <h3 class="form-h3">Create a Citypop Central account</h3>

    <form method="POST" action="{{ url_for('register') }}">

        <label for="username" class="form-label">Username :</label>
        <p class="form-info">Your username must contain minimum 3 and maximum 15 characters all in lowercase</p>
        <input type="text" id="username" name="username" pattern="[a-z0-9_]{3,15}" class="form-textbox" aria-label="" required>
        

        <label for="password" class="form-label">Password :</label>
        <p class="form-info">Your password must contain at least one number, one uppercase and lowercase letter, and at least 8 or more characters</p>
        <p class="form-message">Passwords don't match</p>
        <input type="password" id="password" name="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="form-textbox" aria-label="" required>

        <label for="password-confirm" class="form-label">Confirm password :</label>
        <p class="form-info">Type your password one more time</p>
        <p class="form-message">Passwords don't match</p>
        <input type="password" id="password-confirm" name="password-confirm" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-textbox" aria-label="" required>
        

        <label for="email" class="form-label">Email :</label>
        <p class="form-info">Use a valid email address</p>
        <input type="email" id="email" name="email" class="form-textbox" aria-label="" required>

        <label for="country" class="form-label">Country :</label>
        <p class="form-info">Select the country you are living in</p>
        <select id="country" name="country" class="form-textbox" aria-label="">

            {% for country in countries %}

                <option value="{{ country.country_name }}">{{ country.country_name }}</option>

            {% endfor %}

        </select>

        <label for="gender" class="form-label">Gender :</label>
        <p class="form-info">Select your gender</p>
        <select id="gender" name="gender" class="form-textbox" aria-label="">

            {% for gender in genders %}
            
                <option value="{{ gender.gender }}">{{ gender.gender }}</option>
            
            {% endfor %}

        </select><br>


        <input type="submit" value="register" class="form-button" aria-label=""><br><br>

    </form>

    <p id="form-p">Already have a Citypop Central Account? Login <a class="form-link" href="{{ url_for('login') }}">Here</a></p>

</div>  

{% endblock %}





