<!--
File: songs.html
Author: Maurice Vossen
Date: November 2021
-->

{% extends "base.html" %}
{% block content %}

    {% for n in a %}

        <div style="color: white; text-decoration: none; background-color: steelblue; color:white; width: 50%; margin: 0 auto; box-sizing: border-box; padding: 10px;"> {{ n }} </div>

    {% endfor %}    

    
    <div style="color: white; text-decoration: none; text-align:center; background-color: steelblue; color:white; width: 50%; margin: 0 auto; box-sizing: border-box; padding: 10px;">

        {% if page == 0 %}

        {% else %}
            <a href="{{ prev_url }}">previous page</a> | 
        {% endif %}


        {% if ((page + 1) * 10) >= maximum %}

        {% else %}
            <a href="{{ next_url }}">next page</a>
        {% endif %}

    </div>


{% endblock %}