<!--
File: user-info.html
Author: Maurice Vossen
Date: November 2021
-->


{% extends "base.html" %}
{% block content %}


    <div class="form-div">

        <h3 class="form-h3">User information</h3>

        {% if existing_user.username %}

        <div id="userinfo">

            <div class="userinfo-descr">Username :</div>
            <div class="userinfo-value">{{ existing_user.username }}</div>

            <div class="userinfo-descr">Gender :</div>
            <div class="userinfo-value">{{ existing_user.gender }} </div>

            <div class="userinfo-descr">Nationality :</div>
            <div class="userinfo-value">{{ existing_user.country_name | capitalize}} </div>

            <div class="userinfo-descr">Email :</div>
            <div class="userinfo-value">{{ existing_user.email }} </div>

        </div>

        {% else %}

        User does not exist!

        {% endif %}


    </div>

{% endblock %}