<!--
File: users.html
Author: Maurice Vossen
Date: November 2021
-->


{% extends "base.html" %}
{% block content %}
    
    {% if session.user == 'admin' %}

        <div class="users-div">

            <!-- heading -->
            <h1 class="form-heading">Users</h1>
    
            <!-- profile form -->
            <form action="" method="POST">

            </form>

            {% for user in all_users %}

                <div class="user-item">

                    <i class="delete-user fas fa-trash-alt" title="Delete user" aria-label="Please click here to delete this user"></i><a href="{{ url_for('delete_user', user_id=user._id) }}"><i class="confirm-delete-user fas fa-trash-alt" title="Confirm to delete user"></i></a> {{user.username}}

                </div>

            {% endfor %}


    {% else %}

    {% endif %}


{% endblock %}