<!--
File: youtube.html
Author: Maurice Vossen
Date: November 2021
-->


{% extends "base.html" %}
{% block content %}

    <div id="content-div">

        <div class="youtube-div">
            
            <!-- YouTube video iframe -->
            <div id="tv-screen-div">

                <iframe id="youtube-iframe" src="{{ link }}?autoplay=1" allow="autoplay; encrypted-media"></iframe> 

                <p id="tv-text">Citypop Central TV</p>

               <!-- footer -->
               <footer>

                <span id="follow-socials">follow us on social media</span>
                                    
                     <ul>

                        <li><a href="https://www.twitter.com/" target="_blank" title="Go to our twitter page" aria-label="Go to our twitter page by clicking this link (opens in new tab)"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.pinterest.com/" target="_blank" title="Go to our pinterest page" aria-label="Go to our pinterest page by clicking this link (opens in new tab)"><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="https://www.facebook.com/" target="_blank" title="Go to our facebook page" aria-label="Go to our facebook page by clicking this link (opens in new tab)"><i class="fab fa-facebook"></i></a></li>

                    </ul>
                            
                <span id="copyright">© CityPop Central 2021</span>
                            
            </footer>

        </div>

    </div>  

{% endblock %}